#cc-container {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#046f94),to(#3493ad));
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 12px 0 rgb(0 0 0 / 20%);
    color: white;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    .c-name {
        font-size: 24px;
        font-weight: 500;
    }

    .c-temperature, .c-wind {
        font-size: 20px;
        display: flex;
        justify-content: center;
        vertical-align: middle;
        align-items: center;
        mat-icon {
            margin-right: 12px;
        }
    }

    .c-more {
        button { color: #3493ad; }
    }
}