<div id="cc-container">
    <div class="c-name"> {{ weatherData.name }} </div>
    <div class="c-icon"> <img src="{{ weatherData.icon  }}"></div>
    <div class="c-temperature"> 
        <mat-icon aria-hidden="false" aria-label="temp icon">thermostat</mat-icon>
        <span>Temperature - {{ weatherData.main.temp }} °C </span>
    </div>
    <div class="c-wind"> 
        <mat-icon aria-hidden="false" aria-label="wind icon">air</mat-icon>
        Wind - {{ weatherData.wind.speed }} m/s 
    </div>

    <div class="c-more">
        <button (click)="showHourly()" mat-raised-button>Hourly</button>
    </div>
</div>