<div class="chart-wrapper">
    <canvas baseChart width="800" height="400"
        [chartType]="'line'"
        [datasets]="lineChartData" 
        [labels]="lineChartLabels" 
        [options]="lineChartOptions"
        [colors]="lineChartColors" 
        [legend]="lineChartLegend" 
        [plugins]="lineChartPlugins">
    </canvas>
</div>