#main-container {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    padding-top: 60px;

    .main-title {
        color: #3493ad;
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .cities-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .city-box {
            margin: 10px;
        }
    }
}