<div id="main-container">
    <div class="main-title">Weather App</div>
    <div class="cities-list">
        <div class="city-box" *ngFor="let data of weatherData"><app-city-card [weatherData]='data'></app-city-card></div>
    </div>
</div>